{# 
- en examinant l'URL (Routing), Craft sait qu'elle correspond à une entry de la section projets (on lui a donné la structure de ces URL en définissant la section)
- Craft met automatiquement à notre disposition une variable "entry" qui est un objet contenant tous les champs définis pour les éléments de la section projets.  
#}
{% extends "_layouts/base.twig" %}

{% block content %}
  {# champs relationnel > retrourne toujours un tableau > chooper le premier (et unique) élément de ce tableau #}
  {% set img = entry.projectImage.one() %}
  {% if img %}
    <div class="c-banner">
      <img src="{{ img.getUrl({ width: 800, height: 450 }) }}" 
           srcset="{{ img.getUrl({ width: 800, height: 450 }) }} 800w,
                   {{ img.getUrl({ width: 1024, height: 576 }) }} 1024w,
                   {{ img.getUrl({ width: 1500, height: 844 }) }} 1500w,"
           sizes="100vw"
           loading="lazy"
           decoding="async"
           alt=""
           width="1500"
           height="844">
    </div>
  {% endif %}

  <div class="c-pagesection">
    <div class="c-casemodule">
      <div class="l-container  l-container--copy">

        <h1 class="c-h1  u-mb-xs">{{ entry.title }}</h1>
        <p class="c-subtitle">{{ entry.projectShortDescription }}</p>
        <div>
          {{ entry.projectIntro }}
        </div>
      
      </div>
    </div>
  </div>
  {#
    - on boucle sur le champs entry.projectBody qui est composé de blocs Matrix
    - chaque block possède un type
    - on teste le type et on affiche les champs correspondants 
  #}
  {% for item in entry.projectBody %}

    {% switch item.type %}

      {# block texte #}
      {% case "mxblockText" %}
        {% include "_matrix/blocktext.twig" with {
          title: item.mxTextTitle,
          txt: item.mxTextTxt
        } only %}

      {# block video #}
      {% case "mxblockVideo" %}
        {% include "_matrix/blockvideo.twig" with {
          service: item.mxVideoService,
          id: item.mxVideoId,
          caption: item.mxVideoCaption
        } only %}

      {# block image #}
      {% case "mxblockImage" %}
        {% include "_matrix/blockimage.twig" with {
          img: item.mxImageFile.one(),
          caption: item.mxImageCaption,
        } only %}

    {% endswitch %}

  {% endfor %}

{% endblock %}