<footer class="c-sitefooter">
  <div class="l-container">
    
    <div class="c-sitefooter__contact">
      
      <div class="c-sitefooter__links">
        <ul class="c-contactlist">
          {% if company.generalEmail %}
            <li class="c-contactlist__item"><a class="c-contactlist__link" href="mailto:{{ company.generalEmail }}">{{ company.generalEmail }}</a></li>
          {% endif %}
          {% if company.phoneMachines and company.phoneDisplay %}
            <li class="c-contactlist__item"><a class="c-contactlist__link" href="tel:{{ company.phoneMachines }}">{{ company.phoneDisplay }}</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="c-sitefooter__social">
        
        {# on vérifie qu'au moins un des champs existe / possède une valeur #}
        {% if socialmedia.instagramUrl or socialmedia.facebookUrl or socialmedia.twitterUrl %}
        <nav aria-label="social media">
          <ul class="c-socialmedia">

            {# si le champs de global n'est pas vide, afficher la li et l'URL #}
            {% if socialmedia.instagramUrl %}
              <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialmedia.instagramUrl }}" aria-label="Instagram">{% include "_svg/instagram.svg" %}</a></li>
            {% endif %}

            {# si le champs de global n'est pas vide, afficher la li et l'URL #}
            {% if socialmedia.facebookUrl %}
              <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialmedia.facebookUrl }}" aria-label="Facebook">{% include "_svg/facebook.svg" %}</a></li>
            {% endif %}

            {# si le champs de global n'est pas vide, afficher la li et l'URL #}  
            {% if socialmedia.twitterUrl %}
              <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialmedia.twitterUrl }}" aria-label="Twitter">{% include "_svg/twitter.svg" %}</a></li>
            {% endif %}

          </ul>
        </nav>
        {% endif %}
      </div>
    </div>

    <div class="c-sitefooter__main">

      <div class="c-sitefooter__address">
        <address class="c-footeraddress">
          {{ company.companyName }}<br>
          {{ company.addressStreet }}, {{ company.addressNumber }}<br>
          {{ company.addressPostcode }} {{ company.addressCity }}
        </address>
      </div>

      <div class="c-sitefooter__mainnav">
        <nav aria-label="footer navigation" id="footernav">
          
            {% include "_includes/footernav.twig" %}
          
        </nav>
      </div>

      <div class="c-sitefooter__legalnav">
        <nav aria-label="legal navigation">
          
            {% include "_includes/legalnav.twig" %}
          
        </nav>
      </div>
      
    </div>

    <div class="c-sitefooter__end">
      <p class="c-copyright">&copy; 2022 - Zodiak Agency</p>
    </div>

  </div>
</footer>